MySolution/Base9/TokenizerAndModel/
MySolution/FB3_13th_solution/024_3/Comonlist_024_3/
MySolution/FB3_13th_solution/025_3/Comonlist_025_3/
MySolution/fork of Tuned Debertav3+LGBM/fork_1/local/
MySolution/fork of Tuned Debertav3+LGBM/fork_1_LGBM_add_fea/local/
MySolution/fork of Tuned Debertav3+LGBM/LR_Sheduler/content/
MySolution/fork of Tuned Debertav3+LGBM/LR_Sheduler/wording/
MySolution/fork of Tuned Debertav3+LGBM/mean_pooling/deberta-v3-base/